
<h1>Cart</h1>
@if (Model.Items != null && Model.Items.Count > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Book</th>
				<th>Price</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model?.Items)
			{	
				<tr>
					<td>
						<img src="@item.imageLinks?.thumbnail" style="height: 64px">
					</td>
					<td>
						@item.Title
					</td>
					<td>???</td>
				</tr>
			}
		</tbody>
	</table>

}
else
{
	<h3 class="text-center">Cart is empty</h3>
}