html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ECECEC;
}
.description {
    max-height: 3em;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: normal; 
}
.title,
.author,
.publisher,
.isbn,
.datepublished,
.price {
    max-width: 150px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.btn-group {
    display: flex;
}

    .btn-group .btn {
        flex: 1;
    }
.edit-button {
    width: auto;
  
}
.table-container {
    display: flex;
    justify-content: center;
}