@model BookstoreProject.Models.Book
@{
	ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Book</h4>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-action="Id" />
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Authors" class="control-label"></label>
				<input asp-for="Authors" class="form-control" />
				<span asp-validation-for="Authors" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Publisher" class="control-label"></label>
				<input asp-for="Publisher" class="form-control" />
				<span asp-validation-for="Publisher" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="industryIdentifiers" class="control-label"></label>
				<input asp-for="industryIdentifiers" class="form-control" />
				<span asp-validation-for="industryIdentifiers" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DatePublished" class="control-label"></label>
				<input asp-for="DatePublished" class="form-control" />
				<span asp-validation-for="DatePublished" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SaleInfo" class="control-label"></label>
				<input asp-for="SaleInfo" class="form-control" />
				<span asp-validation-for="SaleInfo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="imageLinks" class="control-label"></label>
				<input asp-for="imageLinks" class="form-control" />
				<span asp-validation-for="imageLinks" class="text-danger"></span>
			</div>
			<div>
				<div class="form-group col-4">
					<a asp-action="Index" class="btn btn-warning"><i class="fa-sharp fa-solid fa-arrow-left"></i>Back</a>
					<input type="submit" value="Save" class="btn btn-primary" />
					
				</div>
			</div>
		</form>
	</div>
</div>
<div>
</div>
